.jsPanel-cal-wrapper {
    display: grid;
    grid-template-rows: 1.33fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .33rem;
    width: 100%;
    height: 100%;
    font-size: .875rem;
}
.jsPanel-cal-wrapper.month-count-1{
    grid-template-areas: "blank1 back month month month month forward reset"
    "blank3 day-name-0 day-name-1 day-name-2 day-name-3 day-name-4 day-name-5 day-name-6"
    "week-0 day-1 day-2 day-3 day-4 day-5 day-6 day-7"
    "week-1 day-8 day-9 day-10 day-11 day-12 day-13 day-14"
    "week-2 day-15 day-16 day-17 day-18 day-19 day-20 day-21"
    "week-3 day-22 day-23 day-24 day-25 day-26 day-27 day-28"
    "week-4 day-29 day-30 day-31 day-32 day-33 day-34 day-35"
    "week-5 day-36 day-37 day-38 day-39 day-40 day-41 day-42";
}
.jsPanel-cal-wrapper.month-count-2{
    grid-template-rows: 1.33fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "blank1 back month month month month forward reset"
    "blank3 day-name-0 day-name-1 day-name-2 day-name-3 day-name-4 day-name-5 day-name-6"
    "week-0 day-1 day-2 day-3 day-4 day-5 day-6 day-7"
    "week-1 day-8 day-9 day-10 day-11 day-12 day-13 day-14"
    "week-2 day-15 day-16 day-17 day-18 day-19 day-20 day-21"
    "week-3 day-22 day-23 day-24 day-25 day-26 day-27 day-28"
    "week-4 day-29 day-30 day-31 day-32 day-33 day-34 day-35"
    "week-5 day-36 day-37 day-38 day-39 day-40 day-41 day-42"
    "week-6 day-43 day-44 day-45 day-46 day-47 day-48 day-49"
    "week-7 day-50 day-51 day-52 day-53 day-54 day-55 day-56"
    "week-8 day-57 day-58 day-59 day-60 day-61 day-62 day-63"
    "week-9 day-64 day-65 day-66 day-67 day-68 day-69 day-70";
}
.jsPanel-cal-wrapper.month-count-3{
    grid-template-rows: 1.33fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "blank1 back month month month month forward reset"
    "blank3 day-name-0 day-name-1 day-name-2 day-name-3 day-name-4 day-name-5 day-name-6"
    "week-0 day-1 day-2 day-3 day-4 day-5 day-6 day-7"
    "week-1 day-8 day-9 day-10 day-11 day-12 day-13 day-14"
    "week-2 day-15 day-16 day-17 day-18 day-19 day-20 day-21"
    "week-3 day-22 day-23 day-24 day-25 day-26 day-27 day-28"
    "week-4 day-29 day-30 day-31 day-32 day-33 day-34 day-35"
    "week-5 day-36 day-37 day-38 day-39 day-40 day-41 day-42"
    "week-6 day-43 day-44 day-45 day-46 day-47 day-48 day-49"
    "week-7 day-50 day-51 day-52 day-53 day-54 day-55 day-56"
    "week-8 day-57 day-58 day-59 day-60 day-61 day-62 day-63"
    "week-9 day-64 day-65 day-66 day-67 day-68 day-69 day-70"
    "week-10 day-71 day-72 day-73 day-74 day-75 day-76 day-77"
    "week-11 day-78 day-79 day-80 day-81 day-82 day-83 day-84"
    "week-12 day-85 day-86 day-87 day-88 day-89 day-90 day-91"
    "week-13 day-92 day-93 day-94 day-95 day-96 day-97 day-98";
}

.jsPanel-cal-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.jsPanel-cal-sub.day{
    cursor: pointer;
}
.jsPanel-cal-sub.day.today{
    background-color: #f0f0f0;
}
.jsPanel-cal-sub.week{
    color: gray;
    font-size: .66rem;
}
.jsPanel-cal-sub.day.notInMonth{
    color: gray;
}
.jsPanel-cal-sub.day-name.weekend{
    color: crimson;
}
.jsPanel-cal-sub.day.selected{
    background-color: steelblue;
    color: #fff;
}
.jsPanel-cal-sub.day:hover{
    background-color: #6aa0cc;
    color: #fff;
}


.jsPanel-cal-sub.jsPanel-cal-back {
    grid-area: back;
    cursor: pointer;
}
.jsPanel-cal-sub.jsPanel-cal-forward {
    grid-area: forward;
    cursor: pointer;
}
.jsPanel-cal-sub.jsPanel-cal-month { grid-area: month; }

.jsPanel-cal-sub.jsPanel-cal-blank1 { grid-area: blank1; }
.jsPanel-cal-sub.jsPanel-cal-reset {
    grid-area: reset;
    cursor: pointer;
}
.jsPanel-cal-sub.jsPanel-cal-blank3 { grid-area: blank3; }

.jsPanel-cal-sub.day-name-0 { grid-area: day-name-0; }
.jsPanel-cal-sub.day-name-1 { grid-area: day-name-1; }
.jsPanel-cal-sub.day-name-2 { grid-area: day-name-2; }
.jsPanel-cal-sub.day-name-3 { grid-area: day-name-3; }
.jsPanel-cal-sub.day-name-4 { grid-area: day-name-4; }
.jsPanel-cal-sub.day-name-5 { grid-area: day-name-5; }
.jsPanel-cal-sub.day-name-6 { grid-area: day-name-6; }

.jsPanel-cal-sub.week-1 { grid-area: week-1; }
.jsPanel-cal-sub.week-2 { grid-area: week-2; }
.jsPanel-cal-sub.week-3 { grid-area: week-3; }
.jsPanel-cal-sub.week-4 { grid-area: week-4; }
.jsPanel-cal-sub.week-5 { grid-area: week-5; }
.jsPanel-cal-sub.week-6 { grid-area: week-6; }
.jsPanel-cal-sub.week-7 { grid-area: week-7; }
.jsPanel-cal-sub.week-8 { grid-area: week-8; }
.jsPanel-cal-sub.week-9 { grid-area: week-9; }
.jsPanel-cal-sub.week-10 { grid-area: week-10; }
.jsPanel-cal-sub.week-11 { grid-area: week-11; }
.jsPanel-cal-sub.week-12 { grid-area: week-12; }
.jsPanel-cal-sub.week-13 { grid-area: week-13; }
.jsPanel-cal-sub.week-14 { grid-area: week-14; }

/*
.jsPanel-cal-sub.day-1 { grid-area: day-1; }
.jsPanel-cal-sub.day-2 { grid-area: day-2; }
.jsPanel-cal-sub.day-3 { grid-area: day-3; }
.jsPanel-cal-sub.day-4 { grid-area: day-4; }
.jsPanel-cal-sub.day-5 { grid-area: day-5; }
.jsPanel-cal-sub.day-6 { grid-area: day-6; }
.jsPanel-cal-sub.day-7 { grid-area: day-7; }
.jsPanel-cal-sub.day-8 { grid-area: day-8; }
.jsPanel-cal-sub.day-9 { grid-area: day-9; }
.jsPanel-cal-sub.day-10 { grid-area: day-10; }
.jsPanel-cal-sub.day-11 { grid-area: day-11; }
.jsPanel-cal-sub.day-12 { grid-area: day-12; }
.jsPanel-cal-sub.day-13 { grid-area: day-13; }
.jsPanel-cal-sub.day-14 { grid-area: day-14; }
.jsPanel-cal-sub.day-15 { grid-area: day-15; }
.jsPanel-cal-sub.day-16 { grid-area: day-16; }
.jsPanel-cal-sub.day-17 { grid-area: day-17; }
.jsPanel-cal-sub.day-18 { grid-area: day-18; }
.jsPanel-cal-sub.day-19 { grid-area: day-19; }
.jsPanel-cal-sub.day-20 { grid-area: day-20; }
.jsPanel-cal-sub.day-21 { grid-area: day-21; }
.jsPanel-cal-sub.day-22 { grid-area: day-22; }
.jsPanel-cal-sub.day-23 { grid-area: day-23; }
.jsPanel-cal-sub.day-24 { grid-area: day-24; }
.jsPanel-cal-sub.day-25 { grid-area: day-25; }
.jsPanel-cal-sub.day-26 { grid-area: day-26; }
.jsPanel-cal-sub.day-27 { grid-area: day-27; }
.jsPanel-cal-sub.day-28 { grid-area: day-28; }
.jsPanel-cal-sub.day-29 { grid-area: day-29; }
.jsPanel-cal-sub.day-30 { grid-area: day-30; }
.jsPanel-cal-sub.day-31 { grid-area: day-31; }
.jsPanel-cal-sub.day-32 { grid-area: day-32; }
.jsPanel-cal-sub.day-33 { grid-area: day-33; }
.jsPanel-cal-sub.day-34 { grid-area: day-34; }
.jsPanel-cal-sub.day-35 { grid-area: day-35; }
.jsPanel-cal-sub.day-36 { grid-area: day-36; }
.jsPanel-cal-sub.day-37 { grid-area: day-37; }
.jsPanel-cal-sub.day-38 { grid-area: day-38; }
.jsPanel-cal-sub.day-39 { grid-area: day-39; }
.jsPanel-cal-sub.day-40 { grid-area: day-40; }
.jsPanel-cal-sub.day-41 { grid-area: day-41; }
.jsPanel-cal-sub.day-42 { grid-area: day-42; }
.jsPanel-cal-sub.day-43 { grid-area: day-43; }
.jsPanel-cal-sub.day-44 { grid-area: day-44; }
.jsPanel-cal-sub.day-45 { grid-area: day-45; }
.jsPanel-cal-sub.day-46 { grid-area: day-46; }
.jsPanel-cal-sub.day-47 { grid-area: day-47; }
.jsPanel-cal-sub.day-48 { grid-area: day-48; }
.jsPanel-cal-sub.day-49 { grid-area: day-49; }
.jsPanel-cal-sub.day-50 { grid-area: day-50; }
.jsPanel-cal-sub.day-51 { grid-area: day-51; }
.jsPanel-cal-sub.day-52 { grid-area: day-52; }
.jsPanel-cal-sub.day-53 { grid-area: day-53; }
.jsPanel-cal-sub.day-54 { grid-area: day-54; }
.jsPanel-cal-sub.day-55 { grid-area: day-55; }
.jsPanel-cal-sub.day-56 { grid-area: day-56; }
.jsPanel-cal-sub.day-57 { grid-area: day-57; }
.jsPanel-cal-sub.day-58 { grid-area: day-58; }
.jsPanel-cal-sub.day-59 { grid-area: day-59; }
.jsPanel-cal-sub.day-60 { grid-area: day-60; }
.jsPanel-cal-sub.day-61 { grid-area: day-61; }
.jsPanel-cal-sub.day-62 { grid-area: day-62; }
.jsPanel-cal-sub.day-63 { grid-area: day-63; }
.jsPanel-cal-sub.day-64 { grid-area: day-64; }
.jsPanel-cal-sub.day-65 { grid-area: day-65; }
.jsPanel-cal-sub.day-66 { grid-area: day-66; }
.jsPanel-cal-sub.day-67 { grid-area: day-67; }
.jsPanel-cal-sub.day-68 { grid-area: day-68; }
.jsPanel-cal-sub.day-69 { grid-area: day-69; }
.jsPanel-cal-sub.day-70 { grid-area: day-70; }
.jsPanel-cal-sub.day-71 { grid-area: day-71; }
.jsPanel-cal-sub.day-72 { grid-area: day-72; }
.jsPanel-cal-sub.day-73 { grid-area: day-73; }
.jsPanel-cal-sub.day-74 { grid-area: day-74; }
.jsPanel-cal-sub.day-75 { grid-area: day-75; }
.jsPanel-cal-sub.day-76 { grid-area: day-76; }
.jsPanel-cal-sub.day-77 { grid-area: day-77; }
.jsPanel-cal-sub.day-78 { grid-area: day-78; }
.jsPanel-cal-sub.day-79 { grid-area: day-79; }
.jsPanel-cal-sub.day-80 { grid-area: day-80; }
.jsPanel-cal-sub.day-81 { grid-area: day-81; }
.jsPanel-cal-sub.day-82 { grid-area: day-82; }
.jsPanel-cal-sub.day-83 { grid-area: day-83; }
.jsPanel-cal-sub.day-84 { grid-area: day-84; }
*/
