/* _themes_mdl.sass: 2017-07-12 19:16 */

/* default ---------------------------------------------------------------------------------------------------------- */
.jsPanel-theme-default
  background-color: $mdl-bluegrey100
  border-color: $mdl-bluegrey100

.jsPanel-theme-default > .jsPanel-hdr
  *
    color: $black
  .jsPanel-hdr-toolbar
    border-top: 1px solid $mdl-bluegrey400

.jsPanel-theme-default > .jsPanel-content
  border-top: 1px solid $mdl-bluegrey400

.jsPanel-theme-default > .jsPanel-content.jsPanel-content-filled
  background-color: $mdl-bluegrey100
  border-top: 1px solid $mdl-bluegrey400

.jsPanel-theme-default > .jsPanel-content.jsPanel-content-filledlight
  background-color: $mdl-bluegrey50

/* primary ---------------------------------------------------------------------------------------------------------- */
.jsPanel-theme-primary
  background-color: $mdl-blue500
  border-color: $mdl-blue500

.jsPanel-theme-primary > .jsPanel-hdr
  *
    color: $white
  .jsPanel-hdr-toolbar
    border-top: 1px solid $mdl-blue400

.jsPanel-theme-primary > .jsPanel-content
  border-top: 1px solid $mdl-blue400

.jsPanel-theme-primary > .jsPanel-content.jsPanel-content-filled
  background-color: $mdl-blue500
  border-top: 1px solid $mdl-blue400
  color: $white

.jsPanel-theme-primary > .jsPanel-content.jsPanel-content-filledlight
  background-color: $mdl-blue100
  color: $black

/* info ------------------------------------------------------------------------------------------------------------- */
.jsPanel-theme-info
  background-color: $mdl-lightblue400
  border-color: $mdl-lightblue400

.jsPanel-theme-info > .jsPanel-hdr
  *
    color: $white
  .jsPanel-hdr-toolbar
    border-top: 1px solid $mdl-lightblue300

.jsPanel-theme-info > .jsPanel-content
  border-top: 1px solid $mdl-lightblue300

.jsPanel-theme-info > .jsPanel-content.jsPanel-content-filled
  background-color: $mdl-lightblue400
  border-top: 1px solid $mdl-lightblue300
  color: $white

.jsPanel-theme-info > .jsPanel-content.jsPanel-content-filledlight
  background-color: $mdl-lightblue50
  color: $black

/* success ---------------------------------------------------------------------------------------------------------- */
.jsPanel-theme-success
  background-color: $mdl-green500
  border-color: $mdl-green500

.jsPanel-theme-success > .jsPanel-hdr
  *
    color: $white
  .jsPanel-hdr-toolbar
    border-top: 1px solid $mdl-green300

.jsPanel-theme-success > .jsPanel-content.jsPanel-content-filled
  background-color: $mdl-green500
  border-top: 1px solid $mdl-green300
  color: $white

.jsPanel-theme-success > .jsPanel-content.jsPanel-content-filledlight
  background-color: $mdl-green50
  color: $black

/* warning ---------------------------------------------------------------------------------------------------------- */
.jsPanel-theme-warning
  background-color: $mdl-amber500
  border-color: $mdl-amber500

.jsPanel-theme-warning > .jsPanel-hdr
  *
    color: $black
  .jsPanel-hdr-toolbar
    border-top: 1px solid $mdl-amber300

.jsPanel-theme-warning > .jsPanel-content.jsPanel-content-filled
  background-color: $mdl-amber500
  border-top: 1px solid $mdl-amber300
  color: $black

.jsPanel-theme-warning > .jsPanel-content.jsPanel-content-filledlight
  background-color: $mdl-orange50
  color: $black


/* danger ----------------------------------------------------------------------------------------------------------- */
.jsPanel-theme-danger
  background-color: $mdl-deeporangeA400
  border-color: $mdl-deeporangeA400

.jsPanel-theme-danger > .jsPanel-hdr
  *
    color: $white
  .jsPanel-hdr-toolbar
    border-top: 1px solid $mdl-deeporangeA200

.jsPanel-theme-danger > .jsPanel-content.jsPanel-content-filled
  background-color: $mdl-deeporangeA400
  border-top: 1px solid $mdl-deeporangeA200
  color: $white

.jsPanel-theme-danger > .jsPanel-content.jsPanel-content-filledlight
  background-color: $mdl-deeporangeA100
  color: $black
